<button type="button" mdbBtn color="primary" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"
  mdbWavesEffect>
  <mdb-icon icon="magic" class="white-text pr-1" aria-hidden="true"></mdb-icon> New seen
</button>
<form>
  <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">New seen</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fa fa-user prefix grey-text"></i>
            <input [validateSuccess]="false" data-error="required" type="text" id="orangeForm-name" class="form-control validate"
              [formControl]="seenData.name" mdbInputDirective>
            <label for="orangeForm-name">Name</label>
          </div>
          <div class="md-form mb-5">
            <i class="fa fa-envelope prefix grey-text"></i>
            <textarea [validateSuccess]="false" data-error="required" type="text" id="orangeForm-text" class="form-control validate"
              [formControl]="seenData.description" mdbInputDirective></textarea>
            <label for="orangeForm-text">Description</label>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button data-dismiss="modal" (click)="post()" (click)="frame.hide()" mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>